Restrict which trailing headers we can send

As per [section 4.1.2](https://svn.tools.ietf.org/svn/wg/httpbis/specs/rfc7230.html#rfc.section.4.1.2) of RFC 7230:

> A sender must not generate a trailer that contains a field necessary for message framing (e.g., Transfer-Encoding and Content-Length), routing (e.g., Host), request modifiers (e.g., controls and conditionals in Section 5 of [RFC7231]), authentication (e.g., see [RFC7235] and [RFC6265]), response control data (e.g., see Section 7.1 of [RFC7231]), or determining how to process the payload (e.g., Content-Encoding, Content-Type, Content-Range, and Trailer).

Should we error out if any of those headers are sent as trailing headers?

This issue should only be tackled after #186 is merged.