Server returns unexpected response when :authority pseudo-header includes the port

I noticed when making a request with Mint over HTTP2 to a certain domain I would get a 301 back from the server with a `Location` header matching the original request URL. Using Mint over HTTP1 I would get a 200, and hitting the URL with Google Chrome or curl over HTTP2 also returns a 200.

`http2.ex` contains the following to add in the HTTP2 pseudo-header fields:

```
headers = [
      {":method", method},
      {":path", path},
      {":scheme", conn.scheme},
      {":authority", "#{conn.hostname}:#{conn.port}"}
      | headers
    ]
```

I figured out that If I changed the `:authority` pseudo-header from `"#{conn.hostname}:#{conn.port}"` to `conn.hostname` that the server would return a 200 response.

It seems that the server does not like the `port` in the `:authority` pseudo-header. My question is: Is Mint doing the wrong thing by adding the port, or is the server wrong for not accepting it?

---

What should the `:authority` look like?

[RFC 7540 Section 8.1.2.3](https://tools.ietf.org/html/rfc7540#section-8.1.2.3)

>The ":authority" pseudo-header field includes the authority
      portion of the target URI ([RFC3986], Section 3.2).  The authority
      MUST NOT include the deprecated "userinfo" subcomponent for "http"
      or "https" schemed URIs.

And what does the `authority` portion of a URI look like?

[RFC 3986 Section 3.2](https://tools.ietf.org/html/rfc3986#section-3.2)

> authority   = [ userinfo "@" ] host [ ":" port ]
> URI producers and normalizers should omit the ":" delimiter that
   separates host from port if the port component is empty.  Some
   schemes do not allow the userinfo and/or port subcomponents.

The first definition tells us `userinfo` must be excluded, leaving us with `host [ ":" port ]`. `port` is shown as optional, and the definition of authority states `Some
   schemes do not allow the userinfo and/or port subcomponents.`, but I have found no definition of the `https` scheme that would disallow the port.

For a point of reference, I can see that Google Chrome _does not_ add the port in the `:authority` when making this request. I'm not sure what curl does, but I would guess it also excludes the port since the HTTP2 request succeeds for the URL in question. However, this doesn't mean they are "right", but rather they may be excluding the port as redundant (i.e. there is no need to add 443 when making an https request since it is the default port)

---

Based on the information above it seems that Mint is allowed to send the port. This would mean it's either a bug or a mis-configuration in the server, but I wanted to surface this in case there's something I'm missing.

Snippet from [Apache httpd h2request.c](https://github.com/apache/httpd/blob/f5964c0a4da9fd9c3129b6c68bd3339042f993f6/modules/http2/h2_request.c#L72)

Here we see authority is defined as the hostname unless the port is not the standard one
```
    authority = apr_pstrdup(pool, r->hostname);

    if (!ap_strchr_c(authority, ':') && r->server && r->server->port) {
        apr_port_t defport = apr_uri_port_of_scheme(scheme);
        if (defport != r->server->port) {
            /* port info missing and port is not default for scheme: append */
            authority = apr_psprintf(pool, "%s:%d", authority,
                                     (int)r->server->port);
        }
    }
```

I don't know if this snippet is related to the issue; I'm just surfacing an example usage of `:authority`. Is it possible different projects rely on different conventions because the spec is not explicit?

Snippet from [Chromium url_canon_etc.cc](https://github.com/chromium/chromium/blob/2ca8c5037021c9d2ecc00b787d58a31ed8fc8bcb/url/url_canon_etc.cc#L210)

```
bool DoPort(const CHAR* spec,
            const Component& port,
            int default_port_for_scheme,
            CanonOutput* output,
            Component* out_port) {
  int port_num = ParsePort(spec, port);
  if (port_num == PORT_UNSPECIFIED || port_num == default_port_for_scheme) {
    *out_port = Component();
    return true;  // Leave port empty.
  }

  if (port_num == PORT_INVALID) {
    // Invalid port: We'll copy the text from the input so the user can see
    // what the error was, and mark the URL as invalid by returning false.
    output->push_back(':');
    out_port->begin = output->length();
    AppendInvalidNarrowString(spec, port.begin, port.end(), output);
    out_port->len = output->length() - out_port->begin;
    return false;
  }

  // Convert port number back to an integer. Max port value is 5 digits, and
  // the Parsed::ExtractPort will have made sure the integer is in range.
  const int buf_size = 6;
  char buf[buf_size];
  WritePortInt(buf, buf_size, port_num);

  // Append the port number to the output, preceded by a colon.
  output->push_back(':');
  out_port->begin = output->length();
  for (int i = 0; i < buf_size && buf[i]; i++)
    output->push_back(buf[i]);

  out_port->len = output->length() - out_port->begin;
  return true;
}
```

where `default_port_for_scheme` is determined by [url_canon_stdurl.cc](https://github.com/chromium/chromium/blob/2ca8c5037021c9d2ecc00b787d58a31ed8fc8bcb/url/url_canon_stdurl.cc#L114)

```
// Returns the default port for the given canonical scheme, or PORT_UNSPECIFIED
// if the scheme is unknown.
int DefaultPortForScheme(const char* scheme, int scheme_len) {
  int default_port = PORT_UNSPECIFIED;
  switch (scheme_len) {
    case 4:
      if (!strncmp(scheme, kHttpScheme, scheme_len))
        default_port = 80;
      break;
    case 5:
      if (!strncmp(scheme, kHttpsScheme, scheme_len))
        default_port = 443;
      break;
    case 3:
      if (!strncmp(scheme, kFtpScheme, scheme_len))
        default_port = 21;
      else if (!strncmp(scheme, kWssScheme, scheme_len))
        default_port = 443;
      break;
    case 6:
      if (!strncmp(scheme, kGopherScheme, scheme_len))
        default_port = 70;
      break;
    case 2:
      if (!strncmp(scheme, kWsScheme, scheme_len))
        default_port = 80;
      break;
  }
  return default_port;
}
```

---

The [`SchemeType` definitions in url_canon.h](https://github.com/chromium/chromium/blob/6fd74a21d5d606a9412247d62bcccceb14b604ba/url/url_canon.h#L228)

```
// Types of a scheme representing the requirements on the data represented by
// the authority component of a URL with the scheme.
enum SchemeType {
  // The authority component of a URL with the scheme has the form
  // "username:password@host:port". The username and password entries are
  // optional; the host may not be empty. The default value of the port can be
  // omitted in serialization. This type occurs with network schemes like http,
  // https, and ftp.
  SCHEME_WITH_HOST_PORT_AND_USER_INFORMATION,
  // The authority component of a URL with the scheme has the form "host:port",
  // and does not include username or password. The default value of the port
  // can be omitted in serialization. Used by inner URLs of filesystem URLs of
  // origins with network hosts, from which the username and password are
  // stripped.
  SCHEME_WITH_HOST_AND_PORT,
  // The authority component of an URL with the scheme has the form "host", and
  // does not include port, username, or password. Used when the hosts are not
  // network addresses; for example, schemes used internally by the browser.
  SCHEME_WITH_HOST,
  // A URL with the scheme doesn't have the authority component.
  SCHEME_WITHOUT_AUTHORITY,
};
```

use the language `the default value of the port can be omitted in serialization`, which again suggests that what Mint does (adding the port) is _allowed_, but may be non-standard or unconventional

Snippet from [curl http.c](https://github.com/curl/curl/blob/a55faf33d4b868c8e8173e7aabfe1e286a1a7658/lib/http.c#L2322)

```
if(((conn->given->protocol&CURLPROTO_HTTPS) &&
        (conn->remote_port == PORT_HTTPS)) ||
       ((conn->given->protocol&CURLPROTO_HTTP) &&
        (conn->remote_port == PORT_HTTP)) )
      /* if(HTTPS on port 443) OR (HTTP on port 80) then don't include
         the port number in the host string */
      conn->allocptr.host = aprintf("Host: %s%s%s\r\n",
                                    conn->bits.ipv6_ip?"[":"",
                                    host,
                                    conn->bits.ipv6_ip?"]":"");
```

When generating the `Host:` header (which later is renamed to `:authority` for http2 requests), skip the port if it's the default

Pragmatically my suggestion is to "do what curl and chromium do" and exclude the port if it is the default for the scheme. However, my best guess of the actual root cause is a configuration issue with virtual hosts that the server does not properly resolve when the port is present

> Pragmatically my suggestion is to "do what curl and chromium do" and exclude the port if it is the default for the scheme.

Thanks for the very thorough investigation. It sounds like it's a server issue but we should strive for compatibility and this is an easy to fix so I agree with your conclusion. Let us know if you would like to send a PR with the fix.

@ericmj I took a stab at it:

```diff
diff --git a/lib/mint/core/util.ex b/lib/mint/core/util.ex
index 72cd972..9c6478f 100644
--- a/lib/mint/core/util.ex
+++ b/lib/mint/core/util.ex
@@ -58,6 +58,9 @@ defmodule Mint.Core.Util do
   def scheme_to_transport(:https), do: Mint.Core.Transport.SSL
   def scheme_to_transport(module) when is_atom(module), do: module
 
+  def scheme_default_port(:http), do: 80
+  def scheme_default_port(:https), do: 443
+
   defp calculate_buffer(opts) do
     Keyword.fetch!(opts, :buffer)
     |> max(Keyword.fetch!(opts, :sndbuf))
diff --git a/lib/mint/http2.ex b/lib/mint/http2.ex
index 9b10cf8..35c4704 100644
--- a/lib/mint/http2.ex
+++ b/lib/mint/http2.ex
@@ -475,8 +475,8 @@ defmodule Mint.HTTP2 do
     headers = [
       {":method", method},
       {":path", path},
-      {":scheme", conn.scheme},
-      {":authority", "#{conn.hostname}:#{conn.port}"}
+      {":scheme", Atom.to_string(conn.scheme)},
+      {":authority", authority_pseudo_header(conn.scheme, conn.port, conn.hostname)}
       | headers
     ]
 
@@ -984,7 +984,7 @@ defmodule Mint.HTTP2 do
       transport: scheme_to_transport(scheme),
       socket: socket,
       mode: mode,
-      scheme: Atom.to_string(scheme),
+      scheme: scheme,
       state: :open
     }
 
@@ -1575,6 +1575,15 @@ defmodule Mint.HTTP2 do
     end
   end
 
+  # If the port is the default for the scheme, don't add it to the :authority pseudo-header
+  defp authority_pseudo_header(scheme, port, hostname) do
+      if scheme_default_port(scheme) == port do
+        hostname
+      else
+        "#{hostname}:#{port}"
+      end
+  end
+
   # PRIORITY
 
   # For now we ignore all PRIORITY frames. This shouldn't cause practical trouble.
```

Notes:

- Modified the `scheme` field in the `Mint.HTTP2` connection struct. I kept `scheme` as an atom (or `Types.scheme()`) instead of converting to a string because it seemed like the only place it needed to be a string is in the pseudo-headers. `scheme` is otherwise used as an atom throughout, so it surprised me that it was a string

Questions:

- Does the approach make sense? Is there a better location than `util` for specifying the default ports?
- Does `scheme_default_port` need a fallback for a scheme that is neither `:http` or `:https`?
- What would be the preferred way to test this?

> Does the approach make sense? Is there a better location than util for specifying the default ports?

You can use `URI.default_port/1` instead.

> What would be the preferred way to test this?

Here is an example of testing the headers mint sends: https://github.com/ericmj/mint/blob/master/test/mint/http2/conn_test.exs#L443